<!-- 		Footer	  -->
		<div id="footer">
			<div class="conatainer">
				<div style="text-align: center">
					<p>
						Developed by SHUBHAM BHARDWAJ
					</p>
					<p>
						<a href="https://github.com/Shubh4m-B">
							<i class="fa fa-github" aria-hidden="true" style="font-size:30px;margin: 0px 10px 0px 10px"></i>
						</a>
						<a href="https://www.instagram.com/shubh4m_b/">
							<i class="fa fa-instagram" aria-hidden="true" style="font-size:30px;margin: 0px 10px 0px 10px"></i>
						</a>
						<a href="http://www.linkedin.com/in/shubham-bhardwaj-23250b173">
							<i class="fa fa-linkedin" aria-hidden="true" style="font-size:30px;margin: 0px 10px 0px 10px"></i>
						</a>
						<a href="https://twitter.com/Shubh4m_B">
							<i class="fa fa-twitter" aria-hidden="true" style="font-size:30px;margin: 0px 10px 0px 10px"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</body>
</html>