*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #363537;
}

.no-radius{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.color{
	width:20px;
	height:20px; 
	display:inline-block;
	border: 2px solid #212022;
	border-radius: 5px;
}
.card{
	box-shadow: #212022 10px 10px 10px;
	margin-bottom:20px;
	border: none;
}

#form-card{
	width: 40%;
	min-width: 300px;
	margin: 50px auto;
	padding: 20px;	
}

.form-header{
	margin: 20px;
	text-align: center;
	color: white;
}
