body{
	background-color: #363537;
	z-index:0;
	margin-top: 50px;
}

.jumbotron{
	background:none;
	border:none;
	background-image: url("background.png");
	background-size: cover;
	color: white;
	animation: jumbotron 0.5s ease-in;
}

@keyframes jumbotron{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%
	}
}

.bg{
	height: 100vh;
	background-image: url("background.png");
	background-size: cover;
	margin: 0px;	
}

div.bg > h1{
	text-shadow: #212022 5px 5px 10px;
	padding-top: 30px;
}

div.container > .btn{
	box-shadow: #212022 10px 10px 10px;
}

div.container > h1{
	text-shadow: #212022 5px 5px 10px;
}

.no-radius{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.color{
	width:20px;
	height:20px; 
	display:inline-block;
	border: 2px solid #212022;
	border-radius: 5px;
}
.card{
	box-shadow: #212022 10px 10px 10px;
	margin-bottom:20px;
	border: none;
}

#index{
	background: transparent;
	color:white;
	border: 1px solid white;
	animation: card 0.5s ease-in;
	transition: background 0.5s ;	
}

@keyframes card{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}

#index:hover{
	transform: scale(1.05);
	box-shadow: #212022 15px 15px 10px;
	background-color: #212022;
	border: 1px solid #212022;
}

#form-card{
	width: 40%;
	min-width: 300px;
	margin: 50px auto;
	padding: 20px;	
}

.form-header{
	margin: 20px;
	text-align: center;
	color: white;
}

.navbar-dark{
	background: #212022;
}

.task-list{
	padding: 20px;
	background: rgba(255,255,255,0.7);
	border-radius:5px;
	margin: 10px;
	
}

.member-list{
	padding: 20px;
	background: rgba(255,255,255,0.7);
	border-radius:5px;
	margin: 10px;
    height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-header{
	color: white;
	background: #212022; 
}

#flash-success{
	background-color: rgba(115, 255, 124, 0.4);
	border-color: #73ff7c; 
	color: #73ff7c;
	margin-top: 20px;
}
#flash-danger{
	background-color: rgba(255, 145, 145, 0.3) ;
	border-color: #ff9191;
	color: #ff9191;
	margin-top: 20px;
}
#flash-warning{
	background-color: rgba(255, 229, 145, 0.3);
	border-color: #ffe591; 
	color: #ffe591;
	margin-top: 20px;
}

#flash-msg{
	max-width: 700px;
	position: absolute;
	z-index: 2;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}